*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

li{
    color: white;
    font-size: 2rem;
    list-style: none;
    display: inline-block;
    margin: 1.5rem;
}

header{
    height: 10vh;
    background-color:steelblue;
}

figure, nav{
    display: inline-block;
}

figure{
    margin: 1.5rem;
    font-size: 2rem;
}

nav{
    position: absolute;
    right: 1.5rem;
}

main{
    height: 80vh;
}

footer{
    height: 10vh;
    background-color: teal;
}

aside, section{
    display: inline-block;
    height: 80vh;
}

aside{
    width: 20vw;
    background-color: turquoise;
}

aside div{
    color: white;
    font-size: 2rem;
    height: 15vh;
    margin: 3vh;
    background-color:darkslateblue;
}

section{
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 20vw;
    width: 80vw;
    padding: 1rem;
    background-color: cornflowerblue;
}

.footer-social, .footer-info{
    color: white;
    font-size: 2rem;
    display: inline-block;
    margin: 1.5rem;
}

.footer-info{
    position: absolute;
    right: 1.5rem;
}